@page
@model BioBank.Pages.Collections.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collection.DiseaseTerm).ToString().Replace("DiseaseTerm", "Disease Term")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collection.DiseaseTerm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collection.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collection.Title)
        </dd>
    </dl>
</div>

<div>
    <h4>Samples</h4>
    <hr />
    <p>
        <a asp-page="/Samples/Create" asp-route-collectionId="@Model.Collection.ID">Create New Sample</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Details" asp-route-id="@Model.Collection.ID" asp-route-sortOrder="@Model.DonorCountSort">
                        Donor Count
                    </a>
                </th>
                <th>
                    <a asp-page="./Details" asp-route-id="@Model.Collection.ID" asp-route-sortOrder="@Model.MaterialTypeSort">
                        Material Type
                    </a>
                </th>
                <th>
                    <a asp-page="./Details" asp-route-id="@Model.Collection.ID" asp-route-sortOrder="@Model.LastUpdatedSort">
                        Last Updated
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collection.Samples)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonorCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaterialType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                    <td>
                        <a asp-page="/Samples/Edit" asp-route-id="@item.SampleID">Edit</a> |
                        <a asp-page="/Samples/Details" asp-route-id="@item.SampleID">Details</a> |
                        <a asp-page="/Samples/Delete" asp-route-id="@item.SampleID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="/Collections/Edit" asp-route-id="@Model.Collection.ID">Edit Collection</a> |
    <a asp-page="/Collections/Index">Back to Collection List</a>
</div>
